.temp_background{
    background-image: url(Assets/Backgrounds/bg-image.jpg);
    background-repeat-y: no-repeat;
}
@media (max-width: 767px) {
    .temp_background {
        background-repeat: unset;
    }

    .temp_background.login_background {
        height: 100vh;
    }
}
.container_restriction{
    padding: 0 calc((100% - 1300px) / 2) !important;
}
@media (max-width: 1300px) {
    .container_restriction {
        padding: 0 16px !important;
    }
}
.border-radius-3{
    border-radius: 3px !important;
}
.border-radius-4{
    border-radius: 4px !important;
}
.fs-12{
    font-size: 12px !important;
}
.fs-13{
    font-size: 13px !important;
}
.fs-14{
    font-size: 14px !important;
}
.fs-15{
    font-size: 15px !important;
}
.fs-16{
    font-size: 16px !important;
}
.fs-17{
    font-size: 17px !important;
}
.fs-21{
    font-size: 21px !important;
}
.fs-22{
    font-size: 22px !important;
}
.fs-23{
    font-size: 23px !important;
}
.fs-26{
    font-size: 26px !important;
}
.fs-29{
    font-size: 29px !important;
}
.fs-32{
    font-size: 32px !important;
}
.fs-48{
    font-size: 48px !important;
}
.fc-blue{
    color: #1287cb !important;
}
.bc-blue-1{
    background: #1287cb !important;
}
.bc-blue-2{
    background: #11425f !important;
}
.border-unset{
    border: unset !important;
}
.color-page-header{
    color: var(--chargeScreenMainHeaderTitleFontColor);
}

.pointer{
    cursor: pointer;
}

.white-space{white-space: nowrap;}

/*Shlomo Starik: I don't know where to put this code*/
.card-body input{
    height: 30px !important;
    padding: .5rem 0 !important;
    box-shadow: unset !important;
}

.btn.focus, .btn:focus {
    box-shadow: unset !important;
}

.btn-lg {
    padding: unset /*!important*/;
    font-size: unset;
    line-height: unset !important;
    border-radius: .25rem;
    height: 50px;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
@media (max-width: 768px){
    .btn-md-block{
        display: block;
        width: 100%;
    }
}


@media (max-width: 576px){
    .btn-sm-block{
        display: block;
        width: 100%;
    }
}

.color-gray{
    color: var(--prepaidProductGridAllCardsTitle);
}

.line-height-1{
    line-height: 1 !important;
}

.line-height-1_3{
    line-height: 1.3 !important;
}

.top-border{
    border-top: 1px solid var(--billsScreenBorderColor) !important;
}

.left-border{
    border-left: 1px solid var(--billsScreenBorderColor) !important;
}

.right-border{
    border-right: 1px solid var(--billsScreenBorderColor) !important;
}

.height-logo-img{
    height: 100px;
}

.pagination{
    padding: 0 !important;
}