.suppliersContainer{
  width: 100%; 
  padding-top: 10px;
  padding-bottom: 10px;
}
.suppliersHeader{
  width: 100%;
  font-size: 26px;
  font-weight: 300;
}
.suppliersSettings{
  margin-top: 7px;
  margin-bottom:16px;

  padding-top: 22px;
  padding-bottom: 28px;
  padding-right: 29px!important;
  padding-left: 29px !important;

  width: 100%;
  min-height: 300px;
  border: 1px var(--grayBorder) solid;
  border-radius: 5px;
}
.suppliersButton{
  min-width: 100px;

  margin-top: 1.25rem !important;
  
  height: 50px !important;
  background-color: var(--newSaveButton) !important;
  border-color: var(--newSaveButton) !important;
  border-radius: 3px !important;
  font-size: 17px !important;
  font-weight: bold !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1) !important;

  white-space: nowrap;
}
.suppliersButtonDark{
  background-color: var(--darkButton) !important;
  border-color: var(--darkButton) !important;
}





  
