.giftRow{
  background-color: var(--white); 
  padding: 2%;
 
}
.imgCol{
    padding :5% !important;
}

.title{
    padding-inline-end:6% !important;
}

.Clear{
  opacity: 0.3
}
.myRow{
  padding-top: 1rem
}

.fullImg{
  height: 150px;
  object-fit: contain;
}

.giftContainer{
  background-color: var(--white);
  height:100%;
  border-radius: 3px!important;
}
.maing{
  font-weight: 200!important;
}

.startHeader{
  font-weight: bold;
  text-align: start
}
.endHeader{
color: var(--headerNavLinkSelected)!important;
text-align: end
}
.myButton{
  background-color:var(--regButton)!important;
  width:'max-content'!important;
}
.modal-title{
min-width: 100%
}
.modalGifts1{
  color: #4864de!important;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center

}
.modalGifts2{
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center
}
.adressForGifts1{
  margin-right: 3%;
  margin-left: 3%;
  line-height: 3rem
}
.adressForGifts2{
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  line-height: 3rem
}
.inputForGiftsAdress{
  margin-left: 5%;
  margin-right: 5%;
  line-height: 3rem;
  border: none;
  width: 100%;
  background: #eef0f6
}
.rowForGiftsAdress{
  background: #eef0f6;
  margin-left: 3% !important;
  margin-right: 3% !important

}