.group-6 {
    height: 49px;
    width: 223px;
}

.no-border {
    border: 0!important;
}
.no-border .fs-15{
    font-size: 26px !important;
}
.no-border .fs-22{
    font-size: 37px !important;
    line-height: 0.8;
}
.no-border #clickHere{
    font-size: 17px;
}

.no-border .row:first-child{
    margin-bottom: 20px;
}
@media (max-width: 767px){
    .no-border .row:first-child .d-none{
        display: flex !important;
    }
}
