.invoiceUploadContainer{
    width: 100%; 
    padding-top: 10px;
    padding-bottom: 10px;
}
.invoiceUploadHeader{
    width: 100%;
    font-size: 26px;
    font-weight: 300;
}
.invoiceUploadSubHeader{
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
}
.invoiceUploadSettings{
    margin-top: 7px;
    margin-bottom:16px;

    padding-top: 22px;
    padding-bottom: 28px;
    padding-right: 29px!important;
    padding-left: 29px !important;

    width: 100%;
    min-height: 300px;
    border: 1px var(--grayBorder) solid;
    border-radius: 5px;
}
.invoiceUploadButton{
    min-width: 100px;
    
    height: 50px !important;
    background-color: var(--newSaveButton) !important;
    border-color: var(--newSaveButton)!important;
    border-radius: 3px !important;
    border-width: 0px !important;
    font-size: 17px !important;
    font-weight: bold !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1) !important;;

    white-space: nowrap;
}
.invoiceUploadButtonSearch{
    background-color: var(--regButton) !important;
    border-color: var(--regButton)!important;
}
.invoiceUploadSaveButtonMargin{
    margin-top: 0.75rem !important;
}
.invoiceUploadSearchButtonMargin{
    margin-bottom: 1.6rem !important;
}