.invoiceButton {
    width: 100%;
    background-color: var(--regButton) !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1) !important;
    font-size: 17px !important;
    font-weight: bold !important;
    height: 50px;
    border-radius: 3px !important;
}

.invoiceSmallText {
    font-size: 13px !important;
}

.invoiceSmallTextColor {
    color: var(--darkButton) !important;
}

.invoiceSmallButton {
    background-color: var(--notificationCenterWeakText) !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1) !important;
    height: 23px !important;
    padding-top: 0% !important;
    padding-bottom: 0% !important;
}

.invoicePaddingStart {
    padding-inline-start: 2px !important;
}

.invoicePaddingEnd {
    padding-inline-end: 2px !important;
}