.bezeqNote{
    
    display:table !important;
    color:var(--red);
    border:1px solid var(--productPurchaseBorders);
    border-radius: 5px;
    background-color:var(--productPurchaseNotesBackgroundColor);
 }
 .bezeqHeader{
    margin:25px 65px 15px 15px; 
    color:var(--red);
    font-size: 1.7rem;
    font-weight: 900;
 }
 