.routesChargeContainer{
    
    border: 1px var(--billsScreenBorderColor) solid;
    padding: 20px;
 }

.imageCol{
  
    text-align:var(--imageAlign) !important;
}

.routesChargeImage{
    
    height: 100px;
}
.invoiceInputMargin{

   margin:0 !important;
}

.messageGreenColor{
    
    color: var(--successModalWindow);
    font-weight: bold;
}

.messageRedColor{
    
    color: var(--red);
    font-weight: bold;

}

.bottomBorderForRoutesCharge{

    border-bottom: 1px var(--billsScreenBorderColor) solid; 
    margin: 10px;
   
}

.invoiceRow{

   background: var(--grayRow);
   border: 1px var(--grayRow) solid;
   border-radius: 10px;
}
.invoiceBtn{
    font-size: 17px !important;
}
.commissionNotesRow{
    
    display:table !important;
    color:var(--red);
    border:1px solid var(--productPurchaseBorders);
    border-radius: 5px;
    background-color:var(--productPurchaseNotesBackgroundColor);
    
 } 