.modalImageAndMessage {
    text-align: center;
}

.modalBtn {
    margin: 5px;
}

.modalFooter {
    display: inline !important;
    text-align: center;
}
.detailBorder {
    border: 1px solid;
    border-radius: 10px;
}
 