.App {
    text-align: left;
    width: 100%;
}

.reportContainer {
    width: 100%;
    min-height: 850px;
    /* max-height: 850px; */
    /* background-color: rgba(80,80,80,0.15); */

    /* padding-top: 40px;
    padding-bottom: 40px; */
}

.alignText {
    text-align: start;
}

.margin {
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
}

.reportHeadder {
    width: 100%;
    font-size: 30px;
    text-align: start;
}

.reportSettings {
    width: 100%;
    min-height: 300px;
    /* max-height: 300px; */
    margin-top: 15px;
    border: 0.5px gray groove;
    border-radius: 5px;
    padding: 20px;
}

.date {
    /*margin-top: 50px; */
    width: 100%;
}

.ServiseType {
    width: 100%;
}

.flexContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 15px;
}

.widthTwenty {
    width: 20%;
}

.optionProvider {
    padding-left: 10px;
    padding-right: 10px;
}

.inputProvider {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    border-radius: 5px;
}

.field {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.phoneImg {
    width: 22px;
    height: 22px;
    border-radius: 15px;
    background-color: gray;
    text-align: center;
    color: white;
    display: inline-block;
}

.serviseTypeRadio {
    background-color: white;
    width: 18px;
    height: 18px;
    margin-top: 4px;

}

.serviseTypeRadioLable {
    margin-right: 5%;
    margin-left: 1%;

}

td {
    overflow: hidden;
    text-overflow: ellipsis;
}

.Table {
    table-layout: auto;
}


.height-select{
    height: unset !important;
}

#date{white-space: nowrap}

.table td, .table th {
    white-space: nowrap;
}

.page-item:first-child .page-link {
    border-radius: 0 .25rem .25rem 0 !important;
}

.page-item:last-child .page-link {
    border-radius: .25rem 0 0 .25rem !important;
}

.selectNumPagination{
    height: calc(1.5em + .75rem + 2px) !important;
}