.businessContainer{
    width: 100%; 
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .businessHeader{
    width: 100%;
    font-size: 26px;
    font-weight: 300;
  }

  .loading{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  .businessSettings{
    margin-top: 7px;
    margin-bottom:16px;

    padding-top: 22px;
    padding-bottom: 28px;
    padding-right: 29px!important;
    padding-left: 29px !important;

    width: 100%;
    /*min-height: 300px;*/
    border: 1px var(--grayBorder) solid;
    border-radius: 5px;
  }

  .businessButton{
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1) !important;
    font-size: 17px !important;
    font-weight: bold !important;
  }
  .businessButtonBig{
    height: 50px;
    min-width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
  }  
  .businessButtonSmall{
    height: 38px;
    min-width: 71px;
  }
  .businessButtonBlue{
    background-color: var(--regButton) !important;
    border-color: var(--regButton) !important;
  }
  .businessButtonDark{
    background-color: var(--darkButton) !important;
    border-color: var(--darkButton) !important;
  }
  .businessButtonSave{
    background-color: var(--newSaveButton) !important;
    border-color: var(--newSaveButton) !important;
}
  .businessLine{
    background-color: var(--grayBorder) !important;
    box-sizing: border-box !important;
    margin: 0;
    margin-top: .6rem;
  }

  .businessNote{
    color: var(--notificationCenterWeakText);
    font-size: 13px;    
  }

  .businessBackground{
    height: 82px;
    background-color: var(--noticeBackground) !important;
    border: 1px solid var(--grayBorder);
    border-radius: 5px;
  }

  .businessMarginBottom{
    margin-bottom: 30px;
  }

  .businessTagBkgColor {

    background-color: var(--white)
  }
  

  