.commissionProfileContainer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.commissionProfileHeader {
    width: 100%;
    font-size: 26px;
    font-weight: 300;
}

.commissionProfileSettings {
    margin-top: 7px;
    margin-bottom:16px;

    padding-top: 22px;
    padding-bottom: 28px;
    padding-right: 29px!important;
    padding-left: 29px !important;

    width: 100%;
    min-height: 150px;
    border: 1px var(--grayBorder) solid !important;
    border-radius: 5px;
}

.commissionProfileButton{
    background-color: var(--regButton) !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1) !important;
    border-radius: 3px !important;
    border-color: var(--regButton) !important;
}
.commissionProfileButtonSave{
    background-color: var(--newSaveButton) !important;
    border-color: var(--newSaveButton) !important;
}
.CommissionProfileDarkButton{
    background-color: var(--darkButton) !important;
    border-color: var(--darkButton) !important;
}
.CommissionProfileSmallButton{
    height: 23px !important;
    font-size: 13px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.commissionProfileBigButton{
    height: 50px !important;
    font-size: 17px !important;
    font-weight: bold !important;
}
.commissionProfileMinWidth{
    min-width: 375px!important;
}

.table-css {
    overflow-y: auto;
    background: white;
}

.table-css thead th {
    position: sticky;
    top: -1px;
    background: white;
    z-index: 10;
    border-bottom: 2px solid #dee2e6;
}

.table-css > div > div:last-child {
    right: 10px !important;
    top: 60px !important;
    border-radius: 7px !important;
}

.table-css > div > div:last-child > div {
    background: #afb5c3 !important;
}

.table-css.table-rtl > div > div:first-child {
    margin-right: 0 !important;
    margin-left: -17px !important;
}

.table-css.table-rtl > div > div:last-child {
    right: unset !important;
    left: 10px !important;
}


