.workers{
    border: 1px solid #D9DBE2;
    border-radius: 5px;
    padding: 20px;
    margin-bottom:15px;
}
.firstDivString{
    font-weight: 100;
}
.firstDiv{
    /*height: 100%;*/
    /*width: 100%;*/
}
.secendDiv{
    border: 1px solid #D9DBE2;
    border-radius: 5px;
    padding: 20px;
    margin-bottom:15px;
}
.custom-control-div-fill{
    width: 68px !important;
}

.custom-control-label-fill::before{
    margin-left: 44px;
    background-color: rgb(43, 198, 195);
    padding: 3px;
    background-clip: content-box;
    border-bottom-color: rgb(43, 198, 195);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(43, 198, 195);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(43, 198, 195);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(43, 198, 195);
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 24px;
    left: 0px;
    pointer-events: none;
    position: absolute;
    top: 0px;
    transition-delay: 0s, 0s, 0s;
    transition-duration: 0.15s, 0.15s, 0.15s;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    width: 24px;
    border-radius: .25rem;

}

.collapse-td{
    /* display: none; */
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.collapse-td>span{
    margin-top: 6px;
    float: right;
}

.group-header {
    background-color: #d8d5d5f8 !important;
    /* color: #FFFFFF !important; */
}

.group-collapse 
  {

    overflow: hidden;
    animation: slide-down 1.5s ease;
    /* animation-fill-mode: forwards; */
}

#permissoin-tabel>thead>tr, #permissoin-tabel>tbody>tr #permissoin-tabel>tbody>tr>td, #permissoin-tabel>head>tr>th{
    flex:1 !important;
    max-height: 32px !important;
}

#permissoin-tabel>thead>tr>th, #permissoin-tabel>tbody>tr>td{
    min-width: 137px !important;
    width: 7.5% !important;
    flex-direction: column !important;
}


#permissoin-tabel{
    display: flex !important;
    flex-direction: column !important;
}

#permissoin-tabelt>thead, #permissoin-tabelt>tbody{
    justify-content: center !important;
    display: flex !important;
    flex-direction: column !important;
    border: none !important;
}

#temp-date{
    float: left;
    position: relative;
    bottom: 23px;
}


.custom-control{
    min-height: 0 !important;
}

@keyframes slide-down {
    0% {
        /* opacity: 0; */
        /* transform: translateY(-20px); */
        /* transform: scaleY(0); */
        max-height: 0;
        
    }
    100% {
        /* opacity: 1; */
        /* transform: translateY(0); */
        /* transform: scaleY(100%); */
        max-height: 700px;
    }
    
}
.react-datepicker{
    position: absolute !important;
    z-index: 99999999;
    
}

#layer{
    position: fixed;
    z-index: 9999999;
    width:100%;
    height: 100%;
    top:0;
    right: 0;
    background-color: rgba(0,0,0,0.2)

}

.permissionsAddRole{
    cursor: pointer;
    color: var(--regButton) !important;
}