.balanceBoxRow {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.balanceBoxTitle {
    background-color: var(--balanceTitleBoxBack);
    border: 1px solid var(--balanceTitleBoxBorder);
    border-left-width: 0;
    color: var(--white);
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    padding: 0 !important;
}

.balanceBoxValue {
    background-color: transparent;
    border: 1px solid var(--balanceTitleBoxBorder);
    color: var(--white);
    font-size: 20px;
}

.balanceBoxRow span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.balanceBoxRemainder {
    color: var(--balanceValueTextRemainder);
    font-size: 20px;
    min-height: 100%;
}

.direction-ltr{
    direction: ltr!important;
}

.leftBorderRadius-3{
    border-radius: 3px 0 0 3px;
}

.rightBorderRadius-3{
    border-radius: 0 3px 3px 0;
}