/**
initial color scheme for the site
meant to:
    *   initiate variables with default colors (main theme)
    *   initiate variable names so the IDE wont raise warnings
 */
:root {
    --headerNavLink: #11425F;
    --headerNavLinkSelected: #1287CB;
    --sideBarBack: #16577D;
    --regButton: #1287CB;
    --newSaveButton: #1287CB;
    --grayBorder: #D9DBE2;
    --menuItemTextSelected: #48DEDB;
    --menuItemFocused: #11425F;
    --menuItemBack: #114F73;
    --balanceTitleBoxBack: #154D6F;
    --balanceTitleBoxBorder: #406D88;
    --balanceValueTextRemainder: #9EA2AF;
    --selectorBackground: #48DEDB;
    --selectorBorder : #2BC6C3 ;
    --tableHeaderText : #1287CB ;
    --darkButton : #626A7C ;
    --secondaryButtonBackground : #48DEDB ;
    --secondaryButtonText : #16577D ;
    --userAreaEditBackground : #C3D9E1 ;
    --grayRow:#E5E7Ef;
    --inputBlockInnerElement: #eef0f6;
    --invalidBorderAndFont: #dc3545;
    --noticeBorder: #dcdee5;
    --noticeBackground: #f1f5f9;
    --notificationCenterBorder: rgba(98,106,124,0.15);
    --notificationCenterWeakText:  #9DA2AE;
    --billsScreenBorderColor: #D9DBE2;
    --talkmanTitleColor: #C4A6C5;
    --talkmanPriceColor: #6D216F;
    --prepaidProductGridAllCardsTitle: #626A7C;
    --productPurchaseBorders: #D9DBE2;
    --productPurchaseNotesBackgroundColor: #F1F5F9;
    --productPurchaseUpdatedProductFontColor:#4864DE;
    --chargeScreenMainHeaderTitleFontColor:#262B39;
    --chargeScreenHeadersFontColor:#626A7C;
    --chargeScreenCardsFontColor:#626a7c;
    --iecColor: #f47216;
    --adBannerBorder: #979797;
}