.arrow-icon{
    fill: rgb(43, 198, 195);
}

.collapse-btn, .collapse-child{
    float: right;
    margin: 0 10px;
}



.arrow-up{
    animation: rotate-up .5s ease;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
}


@keyframes rotate-up {
    0% {
        
        transform:rotate(0deg);
        
        
    }
    100% {
        
        transform:rotate(180deg);
        
    }
}

.arrow-down{
    animation: rotate-down .5s ease;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
}


@keyframes rotate-down {
    0% {
        
        transform:rotate(180deg);
        
        
    }
    100% {
        
        transform:rotate(0deg);
        
    }
}