.modal-content{
    background-color: #EEF0F6 !important;
}

.header-group{
    margin: 0 !important;
    color: #ffffff;
}

#header-content{
    min-height: 200px;
}

#more-info-body{
    width: 80%;
    float: none;
    margin: 0px auto ;
    background-color: #EEF0F6;
    position: relative;
    top: -60px ;

}

.content-row{
    margin-top: 25px;
}

#product-description{
    font-size: 15px;
}

#more-info-img{
    max-width: 100%;
}
.table-height{
    height: 300px;
    overflow-x: scroll;
}
@media print {
    .fillScreen, .modal-title, .close{
        display: none;
    }
    .modal-dialog{
        display: block;
        margin: 0 !important;
        color: #000000 !important;
    }
    .header-group {
        color: #000000 !important;
    }
    .modal-body{
        margin: 0 !important;
    }
    .search, .video, .modal-footer{
        display: none !important;
        border-top: unset !important;
    }
    .table-height {
        height: unset !important;
    }
    .modal-content{border: unset !important}
}
