.EditCurrectUser{
    text-align: start;
    background:var(--userAreaEditBackground) !important;
}

.changePass{
    display: flex;
  justify-content: center;
  align-items: center;
  color: green
}

.rowForEditUser,.rowsForUsersData{
    margin: 4px 0;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.rowForEditUser{
    background: #e5e7ef;
}
.rowForEditUserFreeze{
    background: #c0c3c8 !important;
}
.transparentInputselect{
    max-height: 1.8rem;
}

.headerRowForEditUser1{
    text-align: start;
    color: #262B39;
}
.headerRowForEditUser2{
    text-align: end;
    font-size: 0.7rem;
}
.rowsForUsersData{
    background:var(--userAreaEditBackground) !important;
}
.transparentInput{
    border: 0!important;
    padding:0!important;
}

.loginHistoryModal{
    max-width: 600px !important;
    text-align: center;
}
.loginHistoryModalLine{
    color: #626A7C;
}
.changePassHistoryModalLine{
    border-radius: 3px;
    background-color: #E5E7EF;
    text-align: start
}

.loginHistoryModalLineHeader{
    background-color:var(--white);
    color: var(--regButton);
}
.PassChangeHeader{
    background-color:var(--white);
    color: var(--regButton);
    font-weight: 700!important;
    text-align: start
}
.listImg{
    max-width: 20px;
}
.workers{
    border: 0.1px solid var(--userAreaEditBackground) ;
    padding: 2%
}
.mainworkers{
    padding: 2%
}
.infoButton{
    background-color: var(--secondaryButtonBackground)!important;
    color: var(--secondaryButtonText)!important;
    border-color: var(--secondaryButtonBackground)!important;
}
.gryButton{
    background-color:#6c757d!important;
}
.mainManageListPage{
    border: 1px solid var(--grayBorder);
    border-radius: 5px;
    padding: 20px;
    margin-bottom:15px;
}

.modal-content .modal-header .modal-title{
    color: #4864DE;
    font-size: 26px;
    font-weight: bold;
    width: calc(100% - 70px);
}
.modal-content .modal-header{
    margin-left: 7px;
    margin-right: 7px;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    border-bottom: unset !important;
}
.modal-content .modal-header  .close {
    font-size: 50px;
    font-weight: 100;
    line-height: 0.6;
    color: #000;
    opacity: 1;
    padding: 0.2rem;
    margin: -1rem;
}
.modal-content .modal-body .form-control {
    border: 1px solid #ced4da !important;
    max-width: 320px;
}
@media (max-width: 767px){
    .modal-content .modal-header .modal-title{
        font-size: 20px;
    }
}
@media (max-width: 420px){
    .modal-content .modal-body .row{
        justify-content: center!important;
    }
    .modal-content .modal-body .form-control {
        max-width: 100%;
    }
}

.edit_user_form {
    margin-bottom: 0.7rem;
    padding-right: 7px !important; 
    padding-left: 7px !important;
    height: 5%;
}
.buttons {
    display: flex;
}
.buttons-icons{
    display: none;
}
@media (max-width: 900px) {
    .buttons{
        display: none;
    }
    .buttons-icons{
        display: flex;
    }
}
@media (max-width: 768px) {
    .buttons{
        display: flex;
    }
    .buttons-icons{
        display: none;
    }
}
@media (max-width: 640px) {
    .buttons{
        display: none;
    }
    .buttons-icons{
        display: flex;
    }
}
.meassge{
    color:red
}