.form {
    color: #262b39;
    background-color: #EEF0F6;
    border: 1px solid #e9e9eb;
    width: 90%;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
}

.LangButton {
    clear: unset;
}

.form label{
    text-align: start;
}
.login .custom-checkbox .custom-control-label{
    color: #1287CB;
}
.custom-checkbox .custom-control-label{
    padding-right: 10px;
    padding-left: 10px;
}

/*.login .custom-checkbox .custom-control-input:checked~.custom-control-label::after {*/
    /*top: 3px !important;*/
/*}*/

.login .btn-link{
    border: unset !important;
    color: #1287CB;
}

.login .btn-link:hover{
    text-decoration: none;
}

.login .btn-lg{
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.login .card {
    background-color: #fff0;
}
.login .form-check-inline{
    margin-right: unset !important;
}
.footer-login{
    position: fixed;
}

@media (max-width: 767px) {
    .login h5, .login .card{
        text-align: unset !important;
    }
    .login .card{border: unset!important;}
    .footer-login .navbar {
        padding: unset !important;
    }
    .footer-login .navbar .container-fluid{
        padding-right: unset !important;
        padding-left: unset !important;
    }
}
@media (max-height: 710px) {
    .footer-login{
        position: unset;
    }
}
.mt-1px{
    margin-top: 1px;
}
