.InputUtilsRadio{
  margin-top: 3px;
}

.textStart{
  text-align: start;
}

.subHeader{
  font-size: 17px;
  font-weight: 400;
}
.co-gray{
    color: var(--gray) !important;
}
  .infoImg{
    width: 22px;
    height: 22px;
    border-radius: 15px;
    background-color: var(--gray) !important;
    text-align: center;
    color: var(--white) !important;
    display: inline-block;
  }

.custom-control {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.custom-checkbox .custom-control-label{
    position: unset;
}

.custom-checkbox .custom-control-label::before, .custom-checkbox .custom-control-label::after {
    width: 1.5rem !important;
    height: 1.5rem !important;
    border-radius: .15rem !important;
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    border: solid 1px var(--selectorBorder);
}
.custom-checkbox .custom-control-label::before:focus .custom-checkbox .custom-control-label::after:focus{
    box-shadow: unset !important;
}


.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("../../Assets/Icons/check-solid.svg") !important;
    background-size: 1rem;
}

.checkbox-rtl .custom-control-label::before, .checkbox-rtl .custom-control-label::after{
    right: 0;
}

.checkbox-rtl .custom-control-input:checked~.custom-control-label::after {
    /*right: 8px !important;*/
}

.radio-rtl .custom-control-label::before, .radio-rtl .custom-control-label::after{
  right: -1.5rem;
  left: unset;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: var(--selectorBackground) !important;
    border-color: var(--selectorBorder) !important;
}

.custom-control-input:focus~.custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(var(--selectorBackground));
}
.custom-control-input:active~.custom-control-label::before {
  background-color: rgba(72, 222, 219, .25);
}

.utilsTagSelected{
  background-color: var(--selectorBackground) !important;
  border-color: var(--selectorBorder) !important;
  color: var(--white) !important;
  min-width: 135px;
}

.utilsTagNotSelected{
  background-color: transparent !important;
  border-color: var(--selectorBorder) !important;
  color: var(--black) !important;
  min-width: 135px;
}

.utilsBadge{
  border-radius: 50% !important;
  background-color: var(--selectorBorder) !important;
  padding: 0.25em 0.30em 0.20em 0.30em !important;
  font-size: 0.8rem;
}


.imageUploadDiv{
  text-align: center;
  height: 210px;
  min-height: 210px;
  max-height: 210px;
  background-color: var(--white) !important;
  border-radius: 5px;
  box-sizing: content-box;

  position: relative;
  top: 0;
  left: 0;
}

.imageUploadUploadedPicture{
  width: 100%;
  border-radius: 5px; 
  height: inherit;
  object-fit: contain;
}

.iconDiv{
  width: 18%;
  position: absolute;
  top: 15%;
  left: 40%;
}
.iconImage{
  width: 100%;
}

.inputUtilsNotice{
    min-height: 80px;
    width: 100%;
    background-color: var(--noticeBackground);
    border: 1px var(--noticeBorder) solid;
    border-radius: 5px;
    text-align: justify;
    resize: none;

    padding-inline-start: 30px;
    padding-inline-end: 30px;

    padding-top: 20px;
    padding-bottom: 20px;
}

.sliderInfo{
  width: 50px;
  height: 22px;
  border-radius: 15px;
  background-color: var(--selectorBackground) !important;
  text-align: center;
  color: var(--white) !important;
  display: inline-block;
}

.form-control{
    height: 50px !important;
    padding: .5rem 1rem /*!important*/;
    font-size: 17px /*!important*/;
    color: #262b39 /*!important*/;
    border-color: #ced4da00 !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #dc3545 !important;
}
.rtl.is-invalid{
    background-position: center left calc(.375em + .1875rem) !important;
}
#InputTypeNumberInputTypePhonePrefixTest, #InputTypeNumberInputTypePhoneNumberTest{
    background-position: center right calc(.375em + .1875rem) !important;
}

.form-control:focus{
  border-color: rgba(255, 255, 255, 0) !important;
  box-shadow: unset !important;
}

.ws-pre{
  white-space: pre;
}

  .height_Select>div:first-of-type{
      height: 50px;
  }
  .invalidDiv>div:first-of-type, .imageUploadDiv.invalidDiv{
    border: 1px solid var(--invalidBorderAndFont) !important;
    border-radius: 5px !important;
  }

.imageUploadDiv.invalidDiv>.iconDiv{
    border: unset !important;
}

  .errorMessageDiv{
    color: var(--invalidBorderAndFont) !important;
    font-size: 80%;
    min-height: 19px;
  }

.form-control~.invalid-feedback{
    display: block !important;
    min-height: 19px;
}

input.numberInput::-webkit-outer-spin-button,
input.numberInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input.numberInput[type=number]{
  -moz-appearance:textfield;
}

.type2Card{
  background-color: var(--inputBlockInnerElement) !important;
  border: none !important;
}
.type2CardText{
  margin-top: 3px;
  align-self: start;
  background-color: var(--inputBlockInnerElement) !important;
  font-size: 11px !important;
  margin-bottom: 0px;
  border-radius: 10px 10px 10px 10px !important;

  padding-inline-start: 18px;
}
.type2Input{
  background-color: var(--inputBlockInnerElement) !important;
  border: none !important;
  box-shadow: 0 0 0;
  font-size: 17px !important;
  height: 25px !important;

  padding-inline-start: 18px!important;
}

/* InputTypeSearchList type2 input css */
.type2Card .css-bg1rzq-control{
  background-color: var(--inputBlockInnerElement) !important;
  border: none !important;
}

.inputUtilsBorderRadiusRight .input-group-text{
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}
.inputUtilsBorderRadiusLeft .input-group-text{
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.inputUtilsBorderRadiusLeftNole{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.timeSelectInput{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.timeSelectIcon{
  background: url(clock-2.png) no-repeat scroll center center !important;
  background-color: var(--darkButton) !important;
  width: 50px;
  height: 50px;  
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 3px 3px 0;

  pointer-events: none;
}
.left{
  left: 0;
  border-radius: 3px 0 0 3px;
}
.right{
  right: 0;
  border-radius: 0 3px 3px 0;
}
.position{
  position: relative;
}
.direction{
  direction: initial;
}
.custom-file-label::after{
  content: "עיון" !important;
  background-color: var(--darkButton) !important;
  color: var(--white)  !important;
}

::-webkit-calendar-picker-indicator{
  color: transparent !important;
  opacity: 1 !important;
  background: url(calendar-icon.svg) no-repeat center !important;
  object-fit: contain;
  width: 24px;
  height: 24px;
}
::-webkit-inner-spin-button{
  display: none;
}
::-webkit-clear-button{
    display: none;
}

.page-item:first-child .rtl.page-link {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.page-item:last-child .rtl.page-link {
  margin-left: 0;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.z-index-100 div[class$="menu"]{z-index: 100}

.form-check-input{
    margin: unset !important;
}

.autocomplete-dropdown-container{
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    top: 50px;
    z-index: 100;

}

.autocomplete-dropdown-container>div{
    border: 1px solid #d9dbe2;
    border-radius: 5px;
}

.enableNegative{
  direction: ltr !important;
}
.rtl.is-invalid.enableNegative{
  background-position: center right calc(.375em + .1875rem) !important;
}
.span-color{
    display: block;
    height: 35px;
    width: 50px;
    border-radius: .20rem;
}

.loading{
  background-color: #fff;
}