.notificationCenterSettings {
    margin-top: 7px;
    margin-bottom:16px;

    padding-top: 22px;
    padding-bottom: 28px;

    width: 100%;
    min-height: 300px;
    border-top: 1px var(--grayBorder) solid;

    color: var(--darkButton);
}

.notificationCenterTableScrolling {
    width: 100%;
    max-height: 600px;
    overflow-y: auto;
}

.notificationCenterTableScrolling>div {
    padding-top: 7px;
    padding-bottom: 7px;
}

.notificationCenterFlexContainer {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

.notificationCenterButton {
    margin-bottom: 15px;
    border-width: 0 !important;
    font-size: 18px !important;
    height: 26px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    white-space: nowrap;
}

.notificationCenterButtonChecked {
    background-color: var(--headerNavLinkSelected) !important;
}

.notificationCenterButtonUnChecked {
    color: var(--headerNavLinkSelected) !important;
    background-color: var(--inputBlockInnerElement) !important;
}

.notificationCenterFlexContainerRowBreaker {
    width: 1%;
}

.notificationCenterImage {
    width: 22px;
    height: 22px;
    margin-right: 2%;
    margin-left: 2%;
}

.notificationCenterNoMoreNotifications {
    width: 100%;
    text-align: center;

    font-size: 12px !important;
    margin-top: 21px !important;
    margin-bottom: 5px !important;
}

.notificationCenterTableHeaders {
    color: var(--tableHeaderText) !important;
}

.notificationCenterTableRows {
    border-radius: 3px;
    background-color: var(--grayRow) !important;
    margin-top: 3px;
    margin-bottom: 3px;
}

.notificationCenterTableRowsUNREAD {
    border-radius: 3px;
    background-color: var(--userAreaEditBackground) !important;
    margin-top: 3px;
    margin-bottom: 3px;
}

.notificationCenterTableRowsOPENED {
    border-radius: 3px;
    background-color: var(--grayBorder) !important;
    margin-top: 3px;
    margin-bottom: 3px;
}

.notificationCenterCardSubtitle {
    border-bottom: 1px solid var(--notificationCenterBorder) !important;
}

.notificationCenterOriginalMessageTextSize {
    font-size: 11.9px;
}

.notificationCenterOriginalMessageMarginTop {
    margin-top: 20px !important;
}

.notificationCenterSmallButtonsSameAttributes {
    border-width: 0 !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1) !important;
    font-size: 17px !important;
    height: 24px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-weight: bold !important;
}

.notificationCenterReplyButton {
    background-color: var(--regButton) !important;
}

.notificationCenterDarkButton {
    background-color: var(--darkButton) !important;
}

.notificationCenterSendButton {
    background-color: var(--secondaryButtonBackground) !important;
    color: var(--secondaryButtonText) !important;
}

.notificationCenterCollapseBackground {
    background-color: var(--noticeBackground) !important;
    padding: 1rem !important;
    font-size: 17px;
}

.notificationCenterCardFooterBorder {
    border-width: 0 !important;
}

.notificationCenterTextarea {
    resize: none;
    padding: 0 !important;
}

.notificationCenterCollapseWidth {
    width: 100% !important;
    margin-top: 7px;
}

.notificationCenterMarginNone {
    margin: 0 !important;
}

.notificationCenterWeakText {
    color: var(--notificationCenterWeakText) !important;
}

.white-space-nowrap{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

